{% extends 'index.html' %}

{% block content %}
    
    <form action="{% url 'add_students' %}" method="post">
    {% csrf_token %}

    <!-- Other form fields go here -->

    <label for="dropdown">Select an option:</label>
    <select id="dropdown" name="teacher_selected">
        {% for teacher in teachers%}
        <option value="{{teacher}}">{{teacher}}</option>
        {% endfor %}
    </select>
        <br>
        <!-- Add more options as needed -->
        {% for student in students%}
        
        <input  type="checkbox"  name="students_selected" value="{{student}}">
        <label>{{student}}</label>
        <br>
        {%endfor%}
    </select>


    <br>

    <input type="submit" value="Submit">
</form>
    
    
    {% load static %}
    
    <script type="text/javascript" src="{% static '/js/script.js'%}"></script>
{% endblock %}