{% extends 'index.html' %}

{% block content %}
    
    <form action="{% url 'remove_students' %}" method="post">
    {% csrf_token %}
    
    {% for student in students%}
    <label>{{student}}: {{student.classes}}'s class</label>
    <input  type="checkbox"  name="remove" value="{{student}}">
    <br>
    {% endfor %}
    
    <button type="submit">Submit</button>
    </form>
    
    {% load static %}
    
    <script type="text/javascript" src="{% static '/js/script.js'%}"></script>
{% endblock %}